<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit
        (ingredientAdded)="onIngridientAdded($event)"></app-shopping-edit>
        <!-- comportement bizare si j'enlève les hr -->
        <hr><hr><hr><hr><hr><hr>
        <ul class="list-group">
            <a
            class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let ingredient of ingredents">
            {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>
